body {
    background-color: #f0f8ff;
    font-family: Kodchasan;
    margin: 0;
    padding: 0;
}

.kodchasan-regular {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.profile-header {
    width: 100%;
    position: relative;
    background-color: #f0f8ff;
    margin-bottom: -40px;
}

.cover-photo {
    width: 100%;
    height: 250px;
    background-image: url('static/images/cover.jpeg');
    background-size: cover;
    background-position: center;
}

.profile-info {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    top: -50px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 20px;
}

.profile-details {
    flex: 1;
}

.profile-details h1 {
    margin: 0;
    font-size: 28px;
    color: #1c1e21;
}

.profile-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #606770;
}

section {
    margin-bottom: 40px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

.social-media a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    color: #000000;
}

.social-media span {
    color: #000000;
    margin-left: 10px;
}


.social-media img {
    max-width: 30px;
    height: auto;
} 

@media (max-width: 600px) {
    .social-media {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-info {
        top: -30px;
    }
    
    .profile-pic {
        width: 100px;
        height: 100px;
    }

    .profile-details h1 {
        font-size: 20px;
    }
    
    .profile-details p {
        font-size: 12px;
    }
}

.thumbnails {
    display: flex;
    flex-wrap: nowrap; /* ไม่ให้ขึ้นบรรทัดใหม่ */
    overflow-x: auto; /* ให้เลื่อนแนวนอนเมื่อเกินขอบเขต */
}

.thumbnails a {
    margin-right: 10px;
    flex: 0 0 auto; /* ไม่ยืดลงหรือขยายออกเมื่อเปลี่ยนขนาด */
}

.thumbnails img {
    max-width: 300px;
    height: auto;
}